DATABASE_URL="file:./prisma/dev.db"
NEXTAUTH_SECRET="change-me-to-a-random-32-char-string"
NEXTAUTH_URL="http://localhost:3000"
STRIPE_SECRET_KEY="sk_test_..."
STRIPE_PUBLISHABLE_KEY="pk_test_..."
STRIPE_WEBHOOK_SECRET="whsec_..."
RESEND_API_KEY="re_..."
RESEND_FROM_EMAIL="hello@yourdomain.com"
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY="pk_test_..."
